@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

a, button {
   cursor: pointer;
}

.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height: 100vh;
   color: #fff;
   background: linear-gradient(45deg, #010758, #490d61);

   h1 {
      font-size: 45px;
      font-weight: 500;
      margin-top: -50px;
      margin-bottom: 50px;
      text-transform: capitalize;

      span {
         color: #ff2963;
      }
   }
}

textarea {
  width: 600px;
  height: 250px;
  background: #403d84;
  color: #fff;
  font-size: 15px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  margin-bottom: 30px;
  
  &::placeholder {
   font-size: 16px;
   color: #ddd;
  }
}

.row {
   width: 600px;
   display: flex;
   align-items: center;
   gap: 20px;
}

button {
   display: flex;
   align-items: center;
   font-size: 16px;
   color: #fff;
   background: #ff2963;
   padding: 10px 30px;
   border-radius: 35px;
   border: 0;
   outline: 0;

   img {
      width: 16px;
      margin-right: 10px;
   }
}

select {
   flex: 1;
   height: 50px;
   color: #fff;
   background: #403d84;
   border: 0;
   outline: 0;
   border-radius: 35px;
   padding-inline: 20px;
   appearance: none;
   background-image: url(img/dropdown.png);
   background-repeat: no-repeat;
   background-size: 15px;
   background-position-x: calc(100% - 20px);
   background-position-y: 20px;
}